// -----------------------------------------------------------------------------
// This file contains all styles related to a section of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;



.section {
    .section__inner {
        padding: var(--section-spacing) 0;
        border-bottom: 1px solid color(neutral, 200);
    }
    .section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .section__link {
        margin-left: 1em;
        flex-shrink: 0;
    }
    .section__title {
        font: bold 1.125rem / 1.2 $text-font-stack;
        text-transform: uppercase;
        @include mq(desktop) {
            font-size: 1.25rem;
        }
    }
}