// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.button {
    background-color: color(primary, 400);
    font-size: .875rem;
    font-weight: bold;
    color: color(neutral, 100);
    text-transform: uppercase;
    padding: 1em;
    border: none;
    border-radius: $border-radius;
    @include on-event {
        background-color: color(primary, 300);
        color: color(neutral, 100);
        text-decoration: none;
    }
    @include mq(desktop) {
        font-size: 1rem;
    }     
    &.button--slim {
        padding: .5em;
    }

    &.button--hollow {
        background-color: transparent;
        color: color(primary, 400);
        border: 1px solid color(primary, 400);
        @include on-event {
            color: color(primary, 300);
            border: 1px solid color(primary, 300);
        }
    }
}