// -----------------------------------------------------------------------------
// This file content list component is used to display contents in a list
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.content-list {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    @include mq(tablet) {
        grid-template-columns: repeat(3, 1fr);
    }
}