// -----------------------------------------------------------------------------
// The container component constrains the content area to a max width
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




/// Main content container
// It has a margin of 1rem until 1032px,
// then it keeps a fixed width of 1000px width with no side margins
 .container {
    margin: 0 1rem;
    max-width: $max-width;
    @include mq($max-width + 2rem) {
        margin: 0 auto;
    }
} 