// -----------------------------------------------------------------------------
// The contact form component
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    @include mq(tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        .full-width {
            grid-column: span 2;
        }
    }
    input[type="submit"] {
        width: 100%;
    }
}