// -----------------------------------------------------------------------------
// The contact form component
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    @include mq(tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        .full-width {
            grid-column: span 2;
        }
    }
    input[type="submit"] {
        width: 100%;
    }
    ul {
        margin-bottom: 0;
        padding-left: 1rem;
        li {
            padding-left: .3em;
            & + li {
                margin-top: .5em;
            }
            &::marker { 
                content: '\e805';
                font-family: "icons-edp";
                color: color(primary, 300);
            }
        }
    }
}