// -----------------------------------------------------------------------------
// The hero component shows a massive text with some cta buttons.
// It has an image as background.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.hero { 
    text-align: center;
    background-size: cover;
    background-position: center;
    .hero__content {
        padding: var(--hero-spacing) 0;
    }
    .hero__title {
        max-width: 50rem;
        margin: 0 auto 2rem;
        color: color(neutral, 100);
        font-weight: bold;
        font-size: clamp(1.9rem, calc(1rem + 5vw), 3rem);
        line-height: 1.15;
        text-transform: uppercase;
    }
    .hero__links {
        display: flex;
        justify-content: center;
        > * + * {
            margin-left: 1em;
        }
    }
}