// -----------------------------------------------------------------------------
// An item view presents large collections of site content for display
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.items {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    @include mq(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mq(desktop) {
        grid-template-columns: repeat(4, 1fr);
    }
}