// -----------------------------------------------------------------------------
// This section component is meant to be used to aggregate related content
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.section {
    padding: var(--section-spacing) 0;
    border-bottom: 1px solid color(neutral, 200);
    
    .section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .section__title {
        position: relative;
        padding-left: .6em;
        font: bold 1.125rem / 1.2 $text-font-stack;
        text-transform: uppercase;
        @include mq(desktop) {
            font-size: 1.25rem;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: .25em;
            background-color: color(primary, 400);
        }
    }

    .section__link {
        margin-left: 1em;
        flex-shrink: 0;
    }
}

