// -----------------------------------------------------------------------------
// The teaser component is used to display the teaser of a content and links to it.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.teaser {
    .teaser__media {
        display: block;
        overflow: hidden;
        border-radius: $border-radius;
        margin-bottom: 1rem;
        cursor: pointer;
        @include when-inside('.content-list--lightbox') {
            margin-bottom: 0;
        }
        img {
            width: 100%;
            transition: transform .3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .teaser__title {
        font-size: 1rem;
        margin-bottom: .5em;
    }
    .teaser__text {
        font-size: .875rem;
    }
}