// -----------------------------------------------------------------------------
// The teaser component is used to display the teaser of a content and links to it.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




.teaser {
    .teaser__media {
        display: block;
        overflow: hidden;
        border-radius: $border-radius;
        margin-bottom: 1rem;
        img {
            width: 100%;
            transition: transform .3s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    .teaser__meta {
        display: flex;
        align-items: center;
        margin: 0 0 .5em;
        padding: 0;
        font-size: .875em;
        li + li {
            margin-left: 1em;
            &:before {
                content: '\007C';
                position: relative;
                right: .5em;
            }
        }
        .label {
            margin-right: .2em;
        }
    }
    .teaser__title {
        font-size: 1rem;
        margin-bottom: .5em;
    }
    .teaser__text {
        font-size: .875rem;
    }
}