// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use '../abstracts' as *;




/**
* 1. Since the header has positioned fixed, the body top padding should match the header's height
*/
body {
    padding-top: 3.5rem; /* 1 */
    @include mq(desktop) {
        padding-top: 4.5rem; /* 1 */
    }
}




img {
    max-width: 100%;
    height: auto;
}





input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    width: 100%;
    border: 1px solid color(neutral, 400);
    border-radius: $border-radius;
    padding: .7em;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}

label {
    display: inline-block;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: bold;
    color: color(neutral, 500);
    margin-bottom: .25em;
}