// -----------------------------------------------------------------------------
// This file contains the basic typographic rules
// -----------------------------------------------------------------------------
@use "sass:map";
@use '../abstracts' as *;


/// Basic typography style for copy text
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: normal 1rem / 1.5 $text-font-stack;
    color: color(neutral, 800);
}



/// Basic typography style for headings
@include headings() {
    line-height: 1.15;
    color: color(neutral, 900);
    --flow-spacer: 1.2em;
    a {
      color: color(neutral, 900);
      @include on-event {
        text-decoration: none;
      }
    }
}



/// Basic typography style for links
a {
  color: color(primary, 400);
  text-decoration: none;
  @include on-event {
    color: color(primary, 300);
    text-decoration: underline;
  }
}




/// Basic typography style for links
// p:not([class]),
// ul:not([class]),
// li:not([class]) {
//   max-width: 60ch;
// }




.flow > * + * {
  margin-top: var(--flow-spacer, 1em);
}
